SECRET_KEY=change-me
DEBUG=False
USE_POSTGRES=True
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=myshop
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
ALLOWED_HOSTS=naxocard-react-djano.onrender.com
CSRF_TRUSTED_ORIGINS=https://naxocard-react-djano.onrender.com,https://*.vercel.app
CORS_ALLOWED_ORIGINS=https://naxo-card-react-djano-qrsdrr9vw-nurjamalbabu949-9115s-projects.vercel.app
FRONTEND_URL=https://naxo-card-react-djano-qrsdrr9vw-nurjamalbabu949-9115s-projects.vercel.app
DATABASE_URL=postgresql://user:password@host:5432/dbname
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin12345
